.App-header {
  padding: 30px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
  cursor: default;
  user-select: none;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(8px);
  z-index: 10;
  border-bottom: 1px solid #f8f8f8;
}

.App-title {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.App-controls {
  height: 22px;
}

.App-controls a {
  margin-left: 10px;
}

.controls-svg {
  height: 22px;
}